[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-racer"]
	path = bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git







